# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = kairos.settings

# Project: kairos
[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = <api-key>
password =
project = <project-number>
