# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = coto.settings

# Project: coto
[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = 9e5bc6230a1d4f20a5eb69e70a13fe0c
password =
project = 33832